* {
 margin: 0;
 padding: 0;
 border: none;
}

ul {
 list-style-type: none;
}




header {
 width: 15vw;
 height: 100vh;
 background-color: #9F3CBD;
 display: flex;
 flex-direction: column;
 justify-content: center;

 border: 2px solid #742C8A;
 align-items: center;
}

nav {
 display: flex;
 flex-direction: column;
}

.perfil {
 border-radius: 70%;
 width: 150px;
 display: flex;
 flex-direction: column;
 border: solid#742C8A;
 margin: 20px;

}

a {
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 color: white;
 text-align: center;
 padding: 10px;


}

body {
 display: flex;
 flex-direction: row;





}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 80%;
 height: 50vh;
 padding: 5vw;
 align-items: baseline;

 ;

}

h1 {
 font-size: 8vh;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-direction: column;
}

span {
 color: #9D3EBD;
}

h3 {
 font-family: Arial, Helvetica, sans-serif;
 padding: 15px;




}
