* {
 margin: 0;
 padding: 0;
 border: none;
}

ul {
 list-style-type: none;
}




header {
 width: 15vw;
 height: 100vh;
 background-color: #03318C;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border: 2px solid #8FBDD9;
 align-items: center;
}

nav {
 display: flex;
 flex-direction: column;
}

.perfil {
 border-radius: 70%;
 width: 150px;
 display: flex;
 flex-direction: column;
 border: solid#8FBDD9;
 margin: 20px;

}

a {
 text-decoration: none;
 font-family: 'Inconsolata';
 font-size: 18px;
 color: #8FBDD9;
 text-align: center;
 padding: 10px;


}

body {
 display: flex;
 flex-direction: row;





}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 80%;
 height: 50vh;
 padding: 5vw;
 align-items: baseline;

 ;

}

h1 {
 font-size: 8vh;
 font-family: 'Inconsolata';
 display: flex;
 flex-direction: column;
}

span {
 color: #0378A6;

}

h3 {
 font-family: 'Inconsolata';
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;




}

h5 {
 font-family: 'Inconsolata';
 position: absolute;
 top: 58vh;
 margin: 8px;
 right: 0, 1vw;
}

.faviicon {
 width: 30px;
 height: 30px;
 position: relative;
 top: 202px
}

ol {
 position: relative;
 list-style-type: none;
 font-family: 'Inconsolata';
 font-size: x-large;
 right: 3vw;
 top: 65px;
 margin: 5px;
}
